[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
selenium = "*"
python-dotenv = "*"
numpy = "*"
requests = "*"
pillow = "*"
beautifulsoup4 = "*"
geopy = "*"
lxml = "*"
Unidecode = "*"
pydantic = "*"
SQLAlchemy = "*"
asyncpg = "*"
databases = "*"
psycopg2 = "*"
tortoise-orm = "*"
aerich = "*"

[dev-packages]
black = "*"
requests-mock = "*"
#lovely-pytest-docker = "*"
pytest-docker = "*"
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"
pytest-docker-compose = "*"

[requires]
python_version = "3.10"
